@font-face {
	font-family: 'Mona Sans Expanded';
	src: url('../fonts/MonaSansExpanded-Black.woff2') format('woff2');
	font-weight: 900;
	font-display: swap;
}

html,
body,
main {
	width: 100%;
	height: 100%;
	color: #001d1d;
	overflow: hidden;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16px;
}

strong {
	font-weight: 700;
}

input:focus {
	border-color: #001d1d!important;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../img/fond.png');
}

#conteneur-chargement {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.75);
	z-index: 100000;
}

#chargement {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#conteneur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#conteneur {
    display: flex;
    justify-content: center;
    align-items: center;
	flex-wrap: wrap;
	overflow: auto;
}

#contenu {
	max-width: 76em;
	text-align: center;
	padding: 5em 1em 2.5em;
	margin: auto;
}

h1 {
	font-family: 'Mona Sans Expanded', sans-serif;
	font-size: 3em;
	margin-bottom: 0.85em;
	line-height: 1.4;
}

#conteneur p {
	font-size: 1.25em;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: 1.5em;
}

#suffixe,
#lien {
	max-width: 450px;
    margin: 0 auto 1.5em;
	text-align: left;
}

#captcha {
	max-width: 450px;
    margin: 0 auto;
	text-align: left;
}

#captcha label,
#lien label,
#suffixe label {
	display: block;
	font-size: 1em;
	font-weight: 700;
	margin-bottom: 0.5em;
}

#captcha a {
	display: block;
	font-size: 0.8em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#captcha input,
#lien input,
#suffixe input {
	font-size: 1.25em;
	font-weight: 400;
	line-height: 1.4;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0.5em 0.9em;
	background: #fff;
}

#suffixe span {
	display: inline-block;
	font-size: 1.25em;
	font-weight: 400;
	line-height: 1.4;
	vertical-align: middle;
	margin-right: 0.5em;
}

#captcha input,
#lien input {
	width: 100%;
}

#suffixe input {
	width: 150px;
	vertical-align: middle;
}

#bouton {
	display: inline-block;
    text-align: center;
	line-height: 1;
    font-size: 1em;
	font-weight: 700;
    text-transform: uppercase;
    padding: 1em 2em;
    border: 2px solid #00ced1;
	border-radius: 2em;
	background: #46fbff;
	cursor: pointer;
	margin-top: 1.5em;
    transition: all ease-in 0.1s;
	user-select: none;
}

#bouton:hover {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	background: #fff;
}

#credits {
	width: 100%;
	margin: 0 auto 0.75em;
}

#credits p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1em;
	text-align: center;
}

#credits p:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

#credits p:last-child a {
	margin: 0 5px;
}

#credits .hub {
	font-size: 0;
	cursor: pointer;
}

#hub {
	position: fixed;
	visibility: hidden;
	opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	z-index: -1;
}

#hub.ouvert {
	visibility: visible;
	opacity: 1;
    animation: fonduEntrant linear 0.1s;
	z-index: 100000;
}

@keyframes fonduEntrant {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#hub iframe {
	width: 100%;
    height: 100%;
}

#hub span {
	font-size: 0;
	color: #fff;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

#erreur {
	display: none;
	color: #ff4646;
    margin: 1em 0 0;
    font-weight: 700!important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.conteneur-modale {
	position: absolute;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
}

.conteneur-modale.ouvert {
	display: flex;
	animation-duration: 0.2s;
  	animation-delay: 0s;
  	animation-name: fonduEntrant;
  	animation-iteration-count: 1;
}

.modale {
	position: relative;
    background: #fff;
	width: 90%;
	max-width: 400px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	border-radius: 10px;
}

.modale header {
	display: flex;
	width: 100%;
	height: 45px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ddd;
}

.modale header .titre {
	font-weight: 700;
	font-size: 15px;
	line-height: 1.5;
	margin-left: 20px;
	user-select: none;
	text-transform: uppercase;
}

.modale header .fermer {
	user-select: none;
	cursor: pointer;
	font-size: 0;
	margin-right: 10px;
}

.modale .conteneur {
    position: relative;
	width: 100%;
	padding: 20px;
	overflow: auto;
    height: calc(100% - 45px);
	font-size: 0;
}

.modale .conteneur p {
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 20px;
	line-height: 1.5;
}

.modale .contenu {
	width: 100%;
}

#lien-raccourci {
	display: inline-block;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px 10px;
	width: calc(100% - 31px);
	vertical-align: middle;
}

#copier {
	display: inline-block;
	margin-left: 7px;
	cursor: pointer;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-bottom: 15px;
}

#copier:active {
	opacity: 0.7;
}

@keyframes fonduEntrant {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.notification {
	font-size: 15px;
	width: 290px;
	margin-left: -145px;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	text-align: center;
	border-radius: 4px;
	padding: 10px 15px;
	position: fixed;
	z-index: 10001;
	left: 50%;
	bottom: 30px;
	animation: fonduEntrantNotification 0.4s;
}
  
@keyframes fonduEntrantNotification {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

.spinner {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.spinner div {
	transform-origin: 40px 40px;
	animation: spin 1.2s linear infinite;
}

.spinner div:after {
	content: '';
	display: block;
	position: absolute;
	top: 3px;
	left: 37px;
	width: 5px;
    height: 25px;
	border-radius: 20%;
	background: #00ced1;
}

.spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}

.spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}

.spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}

.spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}

.spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}

.spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}

.spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}

.spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}

.spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}

.spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}

.spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}

.spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}

@keyframes spin {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@media screen and (max-width: 359px) {
	#contenu {
		padding: 4em 1em 2em;
	}
	
	#bouton {
		font-size: 0.75em!important;
	}
}

@media screen and (min-width: 360px) and (max-width: 599px) {
	#contenu {
		padding: 4em 1em 2em;
	}
}

@media screen and (max-width: 399px) {
	h1 span {
		display: block;
	}
}

@media screen and (max-width: 599px) {
	h1 {
		font-size: 2em;
		margin-bottom: 1em;
	}

	#conteneur p {
		font-size: 1em;
		margin-bottom: 1.2em;
	}
	
	#captcha label,
	#lien label,
	#suffixe label {
		font-size: 0.8em;
	}
	
	#captcha a {
		font-size: 0.7em;
	}
	
	#captcha input,
	#suffixe span,
	#lien input,
	#suffixe input {
		font-size: 1em;
	}
	
	#bouton {
		font-size: 0.85em;
	}
	
	#credits p {
		font-size: 0.85em;
	}
	
	.modale .conteneur p {
		font-size: 18px;
		margin-bottom: 15px;
	}

	.modale .conteneur label {
		font-size: 12px;
		margin-bottom: 7px;
	}
}

@media screen and (max-width: 599px) {
	#hub span {
		top: 5px;
		right: 5px;
	}
	
	#hub span svg {
		width: 24px;
		height: 24px;
	}
}

@media screen and (max-width: 600px) and (orientation: landscape) {
	#contenu {
		padding: 2em 1em 1.5em!important;
	}
}

@media screen and (max-width: 820px) and (orientation: landscape) {
	#contenu {
		padding: 3em 1em 1.5em;
	}

	#conteneur p {
		font-size: 1em!important;
	}
	
	#captcha input,
	#suffixe span,
	#lien input,
	#suffixe input {
		font-size: 1em!important;
	}
	
	#credits p {
		font-size: 0.85em!important;
		margin-bottom: 0.85em!important;
	}
}

@media screen and (max-width: 850px) and (max-height: 500px) {
	h1 {
		font-size: 2em;
		margin-bottom: 1em;
	}

	#conteneur p {
		font-size: 1em;
		margin-bottom: 1.2em;
	}
	
	#captcha label,
	#lien label,
	#suffixe label {
		font-size: 0.8em;
	}
	
	#captcha a {
		font-size: 0.7em;
	}
	
	#captcha input,
	#suffixe span,
	#lien input,
	#suffixe input {
		font-size: 1em;
	}
	
	#bouton {
		font-size: 0.85em;
	}
	
	#credits p {
		font-size: 0.85em;
	}
	
	.modale .conteneur p {
		font-size: 18px;
		margin-bottom: 15px;
	}
}
